@font-face {
  font-family: Quadra-Bold;
  src: url("../assets/fonts/Friz Quadrata Bold.otf");
}

@font-face {
  font-family: Quadra-Regular;
  src: url("../assets/fonts/Friz\ Quadrata\ Regular.ttf");
}


*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url("../assets/faille.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
}

.main-container {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 20px;
}

.container-champion {
    width: 100%;
    height: auto;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.champions-cards {
    width: 300px;
    height: 460px;
    margin: 10px;
    margin-bottom: 95px;
    border-radius: 10px;
    backdrop-filter: blur(5px);
    position: relative;
    z-index: 1;
}

.champion-description {
  padding: 5px 20px;
}

.title {
    font-family: Quadra-Bold;
    font-size: 2.5em;
    text-align: center;
}

.champion-name {
  font-family: Quadra-Regular;
  font-size: 1.8em;
}

.champion-title {
  font-family: Quadra-Regular;
  font-size: 1.2em;
  margin-top: 10px;
  color: rgb(223, 223, 223);
  margin-bottom: 10px;
}

.chamption-tags {
  margin-right: 20px;
  font-family: Quadra-Regular;
  font-size: 0.85em;
}